{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div id="spotName" class="col-6">
            <h1 id="Name">{{ spot.getName }}</h1>
        </div>
        <div id="spotInfo">
            <p id="added_date">Hinzugefügt am {{ spot.AddedDate }} durch {{ spot.getUsername }}</p>
            <br>
            {% if  spot.userId == user_id %}
                <a href="/index.php?spot_id={{ spot.spotId }}&action=delete">Delete</a>
                <a href="/index.php?spot_id={{ spot.spotId }}&action=edit">Edit</a>
            {% endif %}

            <p class="Info">{{ spot.getAddress }} <br> {{ spot.getCity }}</p>
        </div>
        <div id="Rating">
            {{ include('rating.html.twig', {avg: spot.ratingAvg}, with_context = false) }}
        </div>
        <div id="wrapper">
            <div id="maps" class="col-2">
                <h3><a href="https://www.google.ch/maps/@47.3824464,8.5337274,18.94z?hl=de">Maps</a></h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.292946785163!2d8.531067915924929!3d47.491987211459794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a0e0753329b%3A0x91cb35f384b99774!2sKonradstrasse%2073%2C%208005%20Z%C3%BCrich!5e1!3m2!1sde!2sch!4v1636362727424!5m2!1sde!2sch" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div id="gallery" class="col-2">
                <h3>Galerie</h3>
                <div class="images">
                    {% for image in spot.images %}
                        <img class="mySlides" alt="spot-Image" src="{{ constant('TARGETDIR') }}/{{ image.path }}" style="width: 100%"><a href="index.php?action=delete_image&image_id={{ image.imageId }}&spot_id={{ spot.spotId }}" style="width:100%"></a>
                        {% else %}
                        <p>Es sind keine Bilder verfügbar</p>
                    {% endfor %}

                </div>

                <div>
                    <div class="buttons">
                        <button  id="prev" onclick="plusDivs(-1)">❮ Prev</button>
                        <button  id="next" onclick="plusDivs(1)">Next ❯</button>
                    </div>
                </div>

                <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);

                    function plusDivs(n) {
                        showDivs(slideIndex += n);
                    }
                    function currentDiv(n) {
                        showDivs(slideIndex = n);
                    }

                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("demo");
                        if (n > x.length) {slideIndex = 1}
                        if (n < 1) {slideIndex = x.length}
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" w3-red", "");
                        }
                        x[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " w3-red";
                    }
                </script>
            </div>
        </div>

        <div id="review-wrapper" class="col-6">
            <div id="review" class="col-3">
                <form enctype='multipart/form-data' action='index.php' method='post'>
                    <input type='hidden' id='action' name='action' value='submit_description'>
                    <br>
                    <input type='hidden' id='spot_id' name='spot_id' value='{{ spot_id }}'>
                    <br>
                    <label for='name'>Review:</label>
                    <br>
                    <textarea style="resize: vertical; word-break: break-word;" maxlength="500" type='text' id='text' name='comment' value=''></textarea>
                    <br>
                    <label for='name'>Rating:</label>
                    <br>
                    <input type="number" id="rating" name="rating" min="1" max="10" value="">
                    <br>
                    <input class="button" type='submit' name='add' value='   ❯❯    Submit'>
                </form>
            </div>

            <div id="reviews" class="col-3" style="width: 100%">
                <h3>Reviews</h3>
                <table style="width: 100%">
                    {% for result in spot.reviews %}
                        <tr style="background-color: #f5f5f5">
                            <td>
                                <img src="https://www.senertec.de/wp-content/uploads/2020/04/blank-profile-picture-973460_1280.png" alt="Profilepicture" style="height: 50px; width: 50px;">
                            </td>
                            <td>{{ result.username }}</td>
                            <td>
                                {{ include('rating.html.twig', {avg: result.rating },with_context = false) }}
                            </td>
                            <td style="max-width: 810px">{{ result.comment }}</td>
                            {% if result.username == username %}
                                <td>
                                    <a href="/index.php?spot_id={{ spot.getSpotId }}&description_id={{ result.DescriptionId }}&action=delete_description">Delete</a>
                                </td>
                            {% else %}
                                <td>
                                </td>
                            {% endif %}


                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}

