{% extends "layout.html.twig" %}
{% block content %}

<form enctype="multipart/form-data" action="index.php" method="post" id="">
<input type="hidden" id="spot_id" name="spot_id" value="{{ spot.SpotId }}"><br>
<input type="hidden" id="action" name="action" value="submit"><br>
    <label for="name">Spot Name:</label><br>
    <input type="text" id="name" name="name" value="{{ spot.name }}"><br>
    <label for="address">Spot Location:</label><br>
    <input type="text" id="address" name="address" value="{{ spot.address }}"><br>

    <label for="city">City</label><br>
    <select name="city" id="city">
        {% for city in cities %}
            <option {% if spot.city == city%}selected="true" {% endif %}value="{{ city }}">{{ city }}</option>
        {% endfor %}
    </select><br>
    <br><input type="file" name="my_file">
    <input type="submit" value="Submit">
    </form>

{% endblock %}